<h2>Projects</h2>
<p>Every so often, I get a chance to fiddle around with projects on my own instead of my standard work.  These are the projects I have in the pipeline.</p>
<div class="project-list">
  {{#each projects as |project|}}
    {{project-item project=project}}
  {{/each}}
</div>