.about
  .about-wrapper
    display grid
    grid-template-columns 1fr 1fr
    height 100%
    min-height 100vh
    .about-me
    .about-site
      margin 0 15px
    .about-site
      .validations
        a
          color white
        i
          color $lime
