.contact
  display flex
  flex-direction column
  form
    display flex
    flex-direction column
    >div
      display flex
      flex-direction column
      margin 15px
      label
        float left
      input
      textarea
        width 400px
        height 30px
        border-radius 3px
      textarea
        width 700px
        height 300px
    .submit
      text-decoration uppercase
    .btn
      display flex
      align-items center
      justify-content center
      width 100px
      height 30px
      border black 1px solid
    .green
      background-color $lime
