.experience
  .technical-skills
    display flex
    justify-content center
    >div
      margin 0 15px
      ul
        display flex
        flex-direction column
        justify-content flex-start
        align-items flex-start
