.main-content
  .icon-link
    display flex
    flex-direction column
    align-items center
    justify-content center
    margin 0 15px
    i,a
      margin 0
      color $social-network-link
  .icon-link:hover
    color $social-network-link-hover
    text-decoration none
    i,a,i:hover,a:hover
      margin 0
      color $social-network-link-hover
      text-decoration none
