.project-item
  display flex
  flex-direction column
  background-color $project-item-bg
  border-radius 15px
  padding 10px 15px
  .title-line
    display flex
    align-items center
    white-space nowrap
    .project-icon
      margin-right 5px
  .get-it
    display flex
    flex-direction column

