.project-item
  display flex
  flex-direction column
  max-width 30%
  background-color $project-item-bg
  border-radius 15px
  padding 10px 15px
  .title-line
    display flex
    align-items center
    overflow-x auto
    .project-icon
      margin-right 5px
  .get-it
    display flex
    flex-direction column
    overflow-x auto
    i
      margin-right 10px
