<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<header>
  <div class="top-left">
    {{#link-to "home" class=""}}RooHaha.com{{/link-to}}
  </div>
  <div class="top-navigation">
    {{#link-to "home" class=""}}Home{{/link-to}}
  </div>
</header>
<div class="main-content">
  {{outlet}}
</div>
<footer>

</footer>