<div class="home">
  <h1>Hello</h1>
  <h2>My name is Andrew 'roo' Townsend</h2>
  <span class="faders">
    {{#each faders as |fader|}}
      {{fader-element text=fader.text delay=fader.delay}}
    {{/each}}
  </span>
</div>